#---------------------------------#
# Composer
#---------------------------------#
vendor
composer.lock

#---------------------------------#
# Unit tests coverage
#---------------------------------#
tests/coverage

#---------------------------------#
# Examples - cache
#---------------------------------#
#examples/cache/*
